
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8e6df;
}

.centered {
  width: 384px;
  margin-left: auto;
  margin-right: auto;
}

#text {
  height: 96px;
  line-height: 96px;
  font-size: 24px;
  color: #393939;
}

#user-input {
  display: flex;
}

input {
  width: 224px;
  height: 64px;
  line-height: 64px;
  font-size: 32px;
  color: #393939;
  background-color: rgba(255, 255, 255, 0.75);
  border: 0;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 16px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
}

input:focus {
  outline: none;
}

#enter {
  background-color: #6699cc;
  margin-right: 16px;
}

#replay {
  background-color: #66cccc;
}

#text {
  width: 1024px;
  text-align: center;
}

.real-frequency {
  color: #99cc99;
}

.guess-frequency {
  color: #cc9999;
}

#play {
  margin-left: 160px;
  margin-right: 160px;
  background-color: #99cc99;
}

.button {
  width: 64px;
  height: 64px;
  color: #ffffff;
  text-align: center;
  line-height: 64px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
}

.button:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
}

#piano {
  margin-top: 32px;
  position: relative;
  width: 1024px;
  height: 96px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
}

#piano .black {
  position: absolute;
  background-color: #2d2d2d;
  height: 75%;
  z-index: 1;
}

#piano .white {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
}

#piano .black.guess { background-color: #cc9999; }
#piano .white.guess { background-color: #cc9999; }
#piano .black.press { background-color: #99cc99; }
#piano .white.press { background-color: #99cc99; }

#piano .white:not(.choosable) { background-color: #d3d0c8; }
#piano .black:not(.choosable) { background-color: #a09f93; }

#presets {
  position: absolute;
  bottom: 32px;
  width: 100%;
  margin-top: 64px;
  display: flex;
  justify-content: center;
}

#presets .button {
  margin-left: 16px;
  margin-right: 16px;
  background-color: #d3d0c8;
}
