
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8e6df;
}

.centered {
  width: 384px;
  margin-left: auto;
  margin-right: auto;
}

#text {
  height: 96px;
  line-height: 96px;
  font-size: 24px;
  color: #393939;
}

#user-input {
  display: flex;
}

input {
  width: 224px;
  height: 64px;
  line-height: 64px;
  font-size: 32px;
  color: #393939;
  background-color: rgba(255, 255, 255, 0.75);
  border: 0;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 16px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
}

input:focus {
  outline: none;
}

#enter {
  background-color: #6699cc;
  margin-right: 16px;
}

#replay {
  background-color: #66cccc;
}

#text {
  width: 1024px;
  text-align: center;
}

.answer {
  color: #99cc99;
  margin-right: 128px;
}

.guess {
  color: #cc99cc;
}

#play {
  margin-left: 160px;
  margin-right: 160px;
  background-color: #99cc99;
}

.button {
  width: 64px;
  height: 64px;
  color: #ffffff;
  text-align: center;
  line-height: 64px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
}

.button:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
}

#piano {
  margin-top: 32px;
  position: relative;
  width: 1024px;
  height: 96px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
}

#piano .black {
  position: absolute;
  background-color: #2d2d2d;
  height: 75%;
  z-index: 1;
}

#piano .white {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
}

#piano .key.note-1 { background-color: #6699cc; }
#piano .key.note-2 { background-color: #66cccc; }

#intervals {
  margin-top: 32px;
}

#intervals > div {
  line-height: 32px;
  color: #515151;
  text-align: center;
  cursor: pointer;
}

#intervals > div:hover {
  background-color: #d3d0c8;
}

#intervals > div.disabled {
  color: #a09f93;
}
